{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} | Sites {% endblock %}

{% block body %}
    <div>
        {% for label,  messages in app.flashes %}
            {% for message in messages %}
                <div class="flash-{{ label }}">
                    {% if label == "success" %}
                        <strong class="font__weight-semibold">Félicitation !</strong> Votre demande à bien aboutie.
                    {% elseif label == "warning" %}
                        <strong class="font__weight-semibold">Attention !</strong> Une erreur est survenue.
                    {% elseif label == "error" %}
                        <strong class="font__weight-semibold">Erreur !</strong> Votre demande n'a pas pu aboutir.
                    {% endif %}
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
    </div>

    <h3 class="centerPage">Listing des campus de l'ENI</h3>
    <div class="container">
        {% for site in sites %}
            <div class="row">
                <div class="col-9">
                    <p>{{ site.id }} : {{ site.nom }}</p>
                </div>
                <div class="col-3">
                    <a class="btn btnDelete" href="{{ path('read_sites',{id: site.id}) }}">
                        <span class="material-icons md-24">read_more</span>
                    </a>
                    <a class="btn btnDelete" href="{{ path('delete_sites',{id: site.id, _csrf_token: csrf_token('app_delete_sites')}) }}">
                        <span class="material-icons md-24">delete</span>
                    </a>
                </div>
                <hr />
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block javaScript %}
    <script src="{{ asset('js/appSupprToken.js') }}"></script>
{% endblock %}
