{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} | Groupes{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('css/groupes.css')}}">
{% endblock %}

{% block body %}
    <div>
        {% for label,  messages in app.flashes %}
            {% for message in messages %}
                <div class="flash-{{ label }}">
                    {% if label == "success" %}
                        <strong class="font__weight-semibold">Félicitation !</strong> Votre demande à bien aboutie.
                    {% elseif label == "warning" %}
                        <strong class="font__weight-semibold">Attention !</strong> Une erreur est survenue.
                    {% elseif label == "error" %}
                        <strong class="font__weight-semibold">Erreur !</strong> Votre demande n'a pas pu aboutir.
                    {% endif %}
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
    </div>

    <div class="container">
        <button class="btnValider">
            <a class="navbar-brand" href="{{ path('create_groupe') }}">Créer un groupe privée</a>
        </button>
        <hr />
        {% for groupe in groupes %}
            <div class="row">
                <div class="col-6">
                    <p>{{ groupe.id }} : <a class="a_profil" href="{{ path('read_groupe',{id : groupe.id}) }}">{{ groupe.name }}</p>
                </div>
                <div class="col-3">
                    {% if  participant not in groupe.idParticipant %}
                        <button class="btn btnValider">
                            <a class="a_Inscrit" href="{{ path('groupe_inscription',{groupeID : groupe.id,participantID : participant.id}) }}">
                                <input type="hidden" id="groupeID" value="{{ groupe.id }}">
                                <input type="hidden" id="participantID" value="{{ participant.id }}">Je m'inscris
                            </a>
                        </button>
                    {% endif %}
                    {% if participant in groupe.idParticipant %}
                        <button class="btn btnValider">
                            <a class="a_Inscrit" href="{{ path('groupe_desister',{groupeID : groupe.id,participantID : participant.id})}}">
                                <input type="hidden" id="groupeID" value="{{ groupe.id }}">
                                <input type="hidden" id="participantID" value="{{ participant.id }}">Je me désiste
                            </a>
                        </button>
                    {% endif %}
                </div>
                {% if is_granted('ROLE_ADMIN') %}
                <div class="col-3">
                    <a class="btn btnUpdate" href="{{ path('update_groupe',{id: groupe.id }) }}">
                        <span class="material-icons md-2">edit</span>
                    </a>
                    <a class="btn btnDelete" href="{{ path('delete_groupe',{id: groupe.id, _csrf_token: csrf_token('app_delete_groupe')}) }}">
                        <span class="material-icons md-24">delete</span>
                    </a>
                </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>

{% endblock %}

{% block javaScript %}
    <script src="{{ asset('js/appSupprToken.js') }}"></script>
{% endblock %}