{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} | Sorties{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('css/sortie.css')}}">
{% endblock %}

{% block body %}
    <div class="container">
        {% for label,  messages in app.flashes %}
            {% for message in messages %}
                <div class="flash-{{ label }}">
                    {% if label == "success" %}
                        <strong class="font__weight-semibold">Félicitation !</strong> Votre demande à bien aboutie.
                    {% elseif label == "warning" %}
                        <strong class="font__weight-semibold">Attention !</strong> Une erreur est survenue.
                    {% elseif label == "error" %}
                        <strong class="font__weight-semibold">Erreur !</strong> Votre demande n'a pas pu aboutir.
                    {% endif %}
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
    </div>
{#
    <div class="container">
        <div class="row">
            {% for sortie in sorties %}
                <a class="text-decoration-none" href="{{ path('read_sorties',{id : sortie.id}) }}">
                    <img src="{{ asset('image/photoVisite/' ~ sortie.photo) }}" class="card-img-top" alt="{{ sortie.nom }}" />
                </a>
                <p>{{ sortie.nom }}</p>
                <p>Date : {{ sortie.dateDebut|date('d-m-Y H:m') }}</p>
                <p>Clotûre : {{ sortie.dateFin|date('d-m-Y H:m') }}</p>
                <p>Durée : {{ sortie.duree }}</p>
                <p>Nombre d'inscrit : 0 / {{ sortie.nbInscritMax }}</p>
                <p>Campus : {{ sortie.idSite.nom }}</p>
                <p>A {{ sortie.idLieu.nom }}</p>
                <p>Au {{ sortie.idLieu.rue }}, {{ sortie.idLieu.idVille.codePostal}} {{ sortie.idLieu.idVille.nom}}</p>
                {% if sortie.idLieu.latitude != null %}
                    <p>{{ sortie.idLieu.latitude }}</p>
                {% endif %}
                {% if sortie.idLieu.longitude != null %}
                    <p>{{ sortie.idLieu.longitude }}</p>
                {% endif %}
                <p>Etat : {{ sortie.idEtat.libelle }}</p>
            {% endfor %}
        </div>
    </div>
#}


    <div class="container">
        <div class="row">
            {% for sortie in sorties %}
                <div class="card">
                    <div class="card-header">
                        <a class="text-decoration-none" href="{{ path('read_sorties',{id : sortie.id}) }}">
                            <img src="{{ asset('image/photoVisite/' ~ sortie.photo) }}" class="card-img-top" alt="{{ sortie.nom }}" />
                        </a>
                    </div>
                    <div class="card-body">
                        {% if sortie.idSite.nom == 'ENI Rennes' %}
                            <span class="tag tag-rennes">{{ sortie.idSite.nom }}</span>
                        {% elseif sortie.idSite.nom == 'ENI Nantes' %}
                            <span class="tag tag-nantes">{{ sortie.idSite.nom }}</span>
                        {% elseif sortie.idSite.nom == 'ENI Quimper' %}
                            <span class="tag tag-quimper">{{ sortie.idSite.nom }}</span>
                        {% elseif sortie.idSite.nom == 'ENI Niort' %}
                            <span class="tag tag-niort">{{ sortie.idSite.nom }}</span>
                        {% endif %}

                        <h4>{{ sortie.nom }}</h4>
                        <small>{{ sortie.description }}</small>

                        <hr style="width: 100%; color: black; height: 1px; background-color:black;">

                        <small>Date : {{ sortie.dateDebut|date('d-m-Y H:m') }}</small>
                        <small>Clotûre : {{ sortie.dateFin|date('d-m-Y H:m') }}</small>

                        <hr style="width: 100%; color: black; height: 1px; background-color:black;">

                        <small>A {{ sortie.idLieu.nom }}</small>
                        <small>Au {{ sortie.idLieu.rue }}, {{ sortie.idLieu.idVille.codePostal}} {{ sortie.idLieu.idVille.nom}}</small>

                        <hr style="width: 100%; color: black; height: 1px; background-color:black;">

                        <div class="inscription">
                            <div class="inscription-info">
                                <small id="inscription-{{ sortie.id }}">Inscrits/places dispos : {{ sortie.idParticipant|length }} / {{ sortie.nbInscritMax }}</small>
                                <small>BOUTON</small>
                            </div>
                        </div>

                        <hr style="width: 100%; color: black; height: 1px; background-color:black;">
                        <div class="user">
                            <img src="https://yt3.ggpht.com/a/AGF-l7-0J1G0Ue0mcZMw-99kMeVuBmRxiPjyvIYONg=s900-c-k-c0xffffffff-no-rj-mo" alt="user" />
                            <div class="user-info">
                                <h5>{{ sortie.idOrganisateur.nom }} {{ sortie.idOrganisateur.prenom }}</h5>
                                <small>Etat : {{ sortie.idEtat.libelle }}</small>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>


{% endblock %}
