{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} | Sortie{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('css/sortie.css')}}">
{% endblock %}

{% block body %}
    <div>
        {% for label,  messages in app.flashes %}
            {% for message in messages %}
                <div class="flash-{{ label }}">
                    {% if label == "success" %}
                        <strong class="font__weight-semibold">Félicitation !</strong> Votre demande à bien aboutie.
                    {% elseif label == "warning" %}
                        <strong class="font__weight-semibold">Attention !</strong> Une erreur est survenue.
                    {% elseif label == "error" %}
                        <strong class="font__weight-semibold">Erreur !</strong> Votre demande n'a pas pu aboutir.
                    {% endif %}
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
    </div>

    <div class="container">
        <div class="row">
            <div class="col-6">
                <p><b>Nom : </b> {{ sortie.nom }}</p>
                <p><b>Description :</b>  {{ sortie.description }}</p>
                <p><b>Date de début :</b>  {{ sortie.dateDebut|date('d/m/Y') }}</p>
                {%  if sortie.motif == null %}
                    <p><b>Date de fin d'inscription :</b>  {{ sortie.dateFin|date('d/m/Y') }}</p>
                    <p><b>Durée :</b> {{ sortie.duree }} minutes</p>
                {% endif %}
                <p><b>Etat :</b> {{ sortie.idEtat.libelle }}</p>
                {%  if sortie.motif != null %}
                    <p><b>Motif : </b>{{ sortie.motif }}</p>
                {% endif %}
            </div>
            <div class="col-6">
                <p><b>Lieu :</b>  {{ sortie.idLieu.nom }}</p>
                <p><b>Rue : </b>  {{ sortie.idLieu.rue }}</p>
                <p><b>Code Postal : </b>  {{ sortie.idLieu.idVille.codePostal }}</p>
                <p><b>Ville :</b>  {{ sortie.idLieu.idVille.nom }}</p>
                <p><b>Latitude :</b>  {{ sortie.idLieu.latitude }}</p>
                <p><b>Longitude :</b>  {{ sortie.idLieu.longitude }}</p>
                <p><b>Campus :</b>  {{ sortie.idSite.nom }}</p>

            </div>
        </div>
    </div>

{% endblock %}

{% block javaScript %}
    <script src="{{ asset('JavaScript/appSupprToken.js') }}"></script>
{% endblock %}