{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} | Sortie{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('css/sortie.css')}}">
{% endblock %}

{% block body %}
    <div>
        {% for label,  messages in app.flashes %}
            {% for message in messages %}
                <div class="flash-{{ label }}">
                    {% if label == "success" %}
                        <strong class="font__weight-semibold">Félicitation !</strong> Votre demande à bien aboutie.
                    {% elseif label == "warning" %}
                        <strong class="font__weight-semibold">Attention !</strong> Une erreur est survenue.
                    {% elseif label == "error" %}
                        <strong class="font__weight-semibold">Erreur !</strong> Votre demande n'a pas pu aboutir.
                    {% endif %}
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
    </div>

    <div class="container">
        <div class="row">
            <div class="centerPage">
                <h2>{{ sortie.nom }}</h2>
                {% if participant == sortie.idOrganisateur or participant.isAdmin == true %}
                    <a class="btn btnDelete" href="{{ path('delete_sorties',{id: sortie.id}) }}">
                        <span class="material-icons md-24">delete</span>
                    </a>
                {% endif %}
            </div>
        </div>

        <div class="row">
            <img src="{{ asset('image/photoVisite/' ~ sortie.photo) }}" class="card-img-top" alt="{{ sortie.nom }}" />
        </div>
        <div class="row">
            <p>{{ sortie.description }}</p>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-6">
                <p><b>Date de l'activité :</b>  {{ sortie.dateDebut|date('d/m/Y') }}</p>
            </div>
            <div class="col-6">
                <p><b>Date de fin d'inscription :</b>  {{ sortie.dateFin|date('d/m/Y') }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                {% if sortie.idSite.nom == 'ENI Rennes' %}
                    <b>Organisé par : </b><span class="tag tag-rennes">{{ sortie.idSite.nom }}</span>
                {% elseif sortie.idSite.nom == 'ENI Nantes' %}
                    <b>Organisé par : </b><span class="tag tag-nantes">{{ sortie.idSite.nom }}</span>
                {% elseif sortie.idSite.nom == 'ENI Quimper' %}
                    <b>Organisé par : </b><span class="tag tag-quimper">{{ sortie.idSite.nom }}</span>
                {% elseif sortie.idSite.nom == 'ENI Niort' %}
                    <b>Organisé par : </b><span class="tag tag-niort">{{ sortie.idSite.nom }}</span>
                {% endif %}
            </div>
            <div class="col-6">
                <p><b>Durée de l'activité : </b> {{ sortie.duree }} minutes</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-6">
                <p><b>Lieu :</b>  {{ sortie.idLieu.nom }}</p>
            </div>
            <div class="col-6">
                <p><b>Addresse : </b> {{ sortie.idLieu.rue }}, {{ sortie.idLieu.idVille.codePostal }} {{ sortie.idLieu.idVille.nom }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <p><b>Latitude :</b>  {{ sortie.idLieu.latitude }}</p>
            </div>
            <div class="col-6">
                <p><b>Longitude :</b>  {{ sortie.idLieu.longitude }}</p>
            </div>
        </div>
    </div>

    <br />

    <div class="container">
        <div class="row">
            <p><b>Etat :</b> {{ sortie.idEtat.libelle }}</p>
        </div>
        {% if sortie.motif != null %}
            <div class="row">
                <p><b>Raison d'annulation :</b> {{ sortie.motif }}</p>
            </div>
        {% endif %}
    </div>

    <br />

    <div class="container">
        <div class="row">
            {% if sortie.idEtat.libelle != "Créér" %}
                <p><b>Inscrits/places dispos :</b> {{ sortie.idParticipant|length }} / {{ sortie.nbInscritMax }}</p>
                <div class="centerPage">
                    {% if  "now"|date('d-m-Y') >= sortie.dateDebut|date('d-m-Y') and sortie.idEtat.libelle == "Ouverte" and sortie.idParticipant|length <= sortie.nbInscritMax and participant not in sortie.idParticipant %}
                        <button class="btn btnValider">
                            <a class="a_Inscrit" href="{{ path('sortie_inscription',{sortieID : sortie.id,participantID : participant.id}) }}">
                                <input type="hidden" id="sortieID" value="{{ sortie.id }}">
                                <input type="hidden" id="participantID" value="{{ participant.id }}">Je m'inscris
                            </a>
                        </button>
                    {% endif %}
                    {% if "now"|date('d-m-Y') >= sortie.dateFin|date('d-m-Y') and sortie.idEtat.libelle == "Ouverte" and sortie.idParticipant|length <= sortie.nbInscritMax and participant in sortie.idParticipant %}
                        <button class="btn btnValider">
                            <a class="a_Inscrit" href="{{ path('sortie_desister',{sortieID : sortie.id,participantID : participant.id}) }}">
                                <input type="hidden" id="sortieID" value="{{ sortie.id }}">
                                <input type="hidden" id="participantID" value="{{ participant.id }}">Je me désiste
                            </a>
                        </button>
                    {% endif %}
                </div>
            {% elseif sortie.idEtat.libelle == "Créér" %}
                <small class="text-danger">Pas d'inscription pour le moment</small>
            {% endif %}
        </div>

        <br />

        <div class="row">
            <p><b>Liste des participants inscrit :</b></p>
            {% for participant in participants %}
                {% if participant in sortie.idParticipant %}
                    <small><b>Nom :</b> {{ participant.nom }} {{ participant.prenom }}</small>
                {% endif %}
            {% endfor %}
        </div>
    </div>


{% endblock %}

{% block javaScript %}
    <script src="{{ asset('JavaScript/appSupprToken.js') }}"></script>
{% endblock %}