{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} | Etats {% endblock %}

{% block body %}

    {% include('components/flash.html.twig') %}

    <h3 class="centerPage">Listing des états</h3>
    <div class="container">
        {% for etat in etats %}
            <div class="row">
                <div class="col-9">
                    <p>{{ etat.id }} : {{ etat.libelle }}</p>
                </div>
                <div class="col-3">
                    <a class="btn btnDelete" href="{{ path('delete_etats',{id: etat.id, _csrf_token: csrf_token('app_delete_etat')}) }}">
                        <span class="material-icons md-24">delete</span>
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block javaScript %}
    <script src="{{ asset('js/appSupprToken.js') }}"></script>
{% endblock %}