{% extends "base.html.twig" %}

{% block title %}
{{ parent() }} - Accueil 
{% endblock %}

{% block body %}

<div class="row mt-5">
   <h2> Accueil </h2>
   <div id="Infos" class="d-flex flex-column align-items-end">
        <p>date : {{ now }} </p>
    {% if app.user %}
        <p> participant : {{ app.user.pseudo }} </p>
    {% endif %}
   </div>
   <div id="filtre">
        <h3> Filtrer les sorties </h3>
        {{ form_start(form) }}
            <div class="d-flex flex-row">
                <div class="d-flex flex-column flex-fill">
                    <div id="Sites" >
                        {{ form_label(form.sites) }}
                        {{ form_widget(form.sites) }}
                    </div>
                    <div id="divSearch">
                        {{ form_label(form.searchText) }}
                        {{ form_widget(form.searchText) }}
                    </div>
                    <div id="searchDates" class="d-flex flex-row">
                        {{ form_label(form.dateMin) }}
                        {{ form_widget(form.dateMin) }}                      
                        {{ form_label(form.dateMax) }}
                        {{ form_widget(form.dateMax) }}         
                    </div>
                </div>
                <div id="checkboxSorties" class="flex-fill">
                    <div id="divOrganisateur">                      
                        {{ form_label(form.organisateur) }}
                        {{ form_widget(form.organisateur) }} 
                    </div>
                    
                    <div id="divInscrit">                      
                        {{ form_label(form.inscrit) }}
                        {{ form_widget(form.inscrit) }}
                    </div>

                    <div id="divPasInscrit">                      
                        {{ form_label(form.pasInscrit) }}
                        {{ form_widget(form.pasInscrit) }} 
                    </div>

                    <div id="divSortiesPassees">                      
                        {{ form_label(form.passees) }}
                        {{ form_widget(form.passees) }}
                    </div>
                </div>
                <div class="flex-fill">                              
                        {{ form_label(form.search) }}
                        {{ form_widget(form.search) }}        
                </div>
            </div>            
        {{ form_end(form) }}
    </div>
    <div id="listeSorties">
        <table>
            <thead>
                <tr>
                    <th>Nom de la sortie</th>
                    <th>Date de la sortie</th>
                    <th>Clôture</th>
                    <th>Inscrits/places</th>
                    <th>Etat</th>
                    <th>Inscrit</th>
                    <th>Organisateur</th>
                    <th>Actions</th>
                </tr>
            </thead>
            
            <tbody>
            {% for sortie in sorties %}   
                {% set estInscrit = false %}         
                <tr>
                    <td>{{ sortie.nom }}</td>
                    <td>{{ sortie.dateDebut | date("m/d/Y") }}</td>
                    <td>{{ sortie.dateFin | date("m/d/Y") }}</td>
                    <td>{{ sortie.idParticipant| length }} / {{ sortie.nbInscritMax }}</td>
                    <td>{{ sortie.idEtat.libelle }}</td>
                    <td>{{ estInscrit }}</td>
                    <td>{{ sortie.idOrganisateur.pseudo }}</td>
                    
                    <td><a href="{{ path('read_sorties', { 'id': sortie.id })}}">Afficher</a> - 
                    {% if (app.user == sortie.idOrganisateur) and (sortie.dateDebut >= date()) and (sortie.dateFin < date()) %}
                        <a href="{{ path('delete_sorties', { 'id': sortie.id })}}">Annuler</a>
                    {% elseif (app.user == sortie.idOrganisateur) and (sortie.dateDebut < date()) %}
                        <a href="{{ path('update_sorties', { 'id': sortie.id })}}">Modifier</a> - 
                        <a href="{{ path('publish_sorties', { 'id': sortie.id })}}">Publier</a>
                    {% elseif (app.user) and (estInscrit == true) %}
                        <a href="{{ path('inscription_sorties', { 'id': sortie.id })}}">S'inscrire</a>
                    {% elseif (app.user) and estInscrit == false %}
                        <a href="{{ path('desister_sorties', { 'id': sortie.id })}}">Se désinscrire</a>
                    {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table> 
    </div>
</div>

{% endblock %}