{% extends "base.html.twig" %}

{% block title %}
{{ parent() }} - Accueil 
{% endblock %}

{% block body %}

<div class="container">
    <div id="Titre" class="d-flex flex-column align-items-center">
        <h2> Accueil </h2>
    </div>
    <div id="Infos" class="d-flex flex-column align-items-end">
        <p>date : {{ now }} </p>
    {% if app.user %}
        <p> participant : {{ app.user.pseudo }} </p>
    {% endif %}
   </div>
   <div id="filtre">
        <h3> Filtrer les sorties </h3>
        {{ form_start(form) }}
            <div class="d-flex flex-row ml-5">
                <div class="d-flex flex-column flex-fill p-4">
                    <div id="Sites" class="d-flex flex-row" >
                        <div class="align-self-center p-2">
                            {{ form_label(form.sites) }}
                        </div>
                        <div class="flex-grow-1 align-self-center p-2">
                            {{ form_widget(form.sites) }}
                        </div>
                    </div>
                    <div id="divSearch" class="d-flex flex-row mt-3">
                        <div class="flex-fill align-self-center p-2">
                            {{ form_label(form.searchText) }}
                        </div>
                        <div class="flex-fill align-self-center p-2">
                            {{ form_widget(form.searchText) }}
                        </div>
                    </div>
                    <div id="searchDates" class="d-flex flex-row align-middle mt-3">
                        <div class="flex-fill align-self-center p-2">
                            {{ form_label(form.dateMin) }}
                        </div>
                        <div class="flex-fill align-self-center p-2">
                            {{ form_widget(form.dateMin) }}
                        </div>              
                        <div class="flex-fill align-self-center p-2">        
                            {{ form_label(form.dateMax) }}
                        </div>
                        <div class="flex-fill align-self-center p-2">
                            {{ form_widget(form.dateMax) }} 
                        </div>        
                    </div>
                </div>
                <div id="checkboxSorties" class="flex-fill align-self-center">
                    <div id="divOrganisateur" class="align-items-end">                      
                        {{ form_label(form.organisateur) }}
                        {{ form_widget(form.organisateur) }} 
                    </div>
                    
                    <div id="divInscrit">                      
                        {{ form_label(form.inscrit) }}
                        {{ form_widget(form.inscrit) }}
                    </div>

                    <div id="divPasInscrit">                      
                        {{ form_label(form.pasInscrit) }}
                        {{ form_widget(form.pasInscrit) }} 
                    </div>

                    <div id="divSortiesPassees">                      
                        {{ form_label(form.passees) }}
                        {{ form_widget(form.passees) }}
                    </div>
                </div>
                <div class="flex-fill align-self-center">                              
                        {{ form_label(form.search) }}
                        {{ form_widget(form.search, { 'attr': {'class': 'btn btn-outline-success'} }) }}    
                </div>
            </div>            
        {{ form_end(form) }}
    </div>   

    <div class="listeSorties">
        {{ include('sorties/index.html.twig') }}
    </div> 
    
</div>


{% endblock %}