{% block header %}
    <div class="header">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="{{ path('app_accueil') }}"><img src="{{ asset('image/logo.png') }}" alt="defaultPicture" class="img-fluid rounded" style="width: 50px; height: 50px;" />    
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                 <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{ path('app_accueil') }}">Accueil</a>
                        </li>
                    {% if app.user %} 
                        {% if is_granted('ROLE_ADMIN') %}  
                            <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_lieux') }}">Villes</a>
                            </li>
                            <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_sites') }}">Campus</a>
                            </li> 
                            <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_etats') }}">Etats</a>
                            </li>
                            <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_inscription_admin') }}">Inscription participant</a>
                            </li>                               
                        {% endif %}                    
                       <li class="nav-item">
                        <a class="nav-link" href="{{ path("app_participant_show",{id : app.user.id})}}">Mon profil</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_logout') }}">Se déconnecter</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_login') }}">Se connecter</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link" href="{{ path('create_participant') }}">S'inscrire</a>
                        </li>                         
                    {% endif %}
                </ul>
                </div>
            </div>
        </nav>
    </div>

{% endblock %}