{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} | Lieux {% endblock %}

{% block body %}

    {% include('components/flash.html.twig') %}

    <h3 class="centerPage">Nouveau lieu</h3>
    <div class="container">
        {{ form_start(lieuForm) }}
        <div class="row">
            <div class="col-6">
                {{ form_label(lieuForm.nom) }}
                {{ form_widget(lieuForm.nom) }}
                {{ form_errors(lieuForm.nom) }}
            </div>
            <div class="col-6">
                {{ form_label(lieuForm.rue) }}
                {{ form_widget(lieuForm.rue) }}
                {{ form_errors(lieuForm.rue) }}
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                {{ form_label(lieuForm.latitude) }}
                {{ form_widget(lieuForm.latitude) }}
                {{ form_errors(lieuForm.latitude) }}
            </div>
            <div class="col-6">
                {{ form_label(lieuForm.longitude) }}
                {{ form_widget(lieuForm.longitude) }}
                {{ form_errors(lieuForm.longitude) }}
            </div>
        </div>
        {{ form_start(lieuForm) }}
        <div class="row">
            <div class="col-6">
                {{ form_label(villeForm.codePostal) }}
                {{ form_widget(villeForm.codePostal) }}
                {{ form_errors(villeForm.codePostal) }}
            </div>
            <div class="col-6">
                {{ form_label(villeForm.nom) }}
                {{ form_widget(villeForm.nom) }}
                {{ form_errors(villeForm.nom) }}
            </div>
        </div>
        <button type="button" class="btn btn-lg btn-outline-light mb-1 mt-3 ">
            <a class="text-decoration-none" href="{{ path('app_lieux') }}">Annuler</a>
        </button>
        {{ form_end(villeForm) }}
        {{ form_end(lieuForm) }}
    </div>

    <h3 class="centerPage">Listing des lieux</h3>
    <div class="container">
        {% for lieu in lieux %}
        <div class="row">
            <div class="col-2">
                <p class="txtbold">{{ lieu.nom }}</p>
            </div>
            <div class="col-4">
                <p>{{ lieu.rue }} à {{ lieu.idVille.codePostal }} {{ lieu.idVille.nom }}</p>
            </div>
            <div class="col-2">
                <p>Latitude : {{ lieu.latitude }}</p>
            </div>
            <div class="col-2">
                <p>Longitude : {{ lieu.longitude }}</p>
            </div>
            <div class="col-2">
                <a class="btn btnUpdate" href="{{ path('update_lieux',{id: lieu.id }) }}">
                    <span class="material-icons md-2">edit</span>
                </a>
                {% if is_granted('ROLE_ADMIN') %}
                <a class="btn btnDelete" href="{{ path('delete_lieux',{id: lieu.id, _csrf_token: csrf_token('app_delete_lieux')}) }}">
                    <span class="material-icons md-24">delete</span>
                </a>
                {% endif %}
            </div>
            <hr />
        </div>
        {% endfor %}
    </div>

{% endblock %}

{% block javaScript %}
    <script src="{{ asset('js/appSupprToken.js') }}"></script>
{% endblock %}
