{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} | Lieux {% endblock %}

{% block body %}
    <div>
        {% for label,  messages in app.flashes %}
            {% for message in messages %}
                <div class="flash-{{ label }}">
                    {% if label == "success" %}
                        <strong class="font__weight-semibold">Félicitation !</strong> Votre demande à bien aboutie.
                    {% elseif label == "warning" %}
                        <strong class="font__weight-semibold">Attention !</strong> Une erreur est survenue.
                    {% elseif label == "error" %}
                        <strong class="font__weight-semibold">Erreur !</strong> Votre demande n'a pas pu aboutir.
                    {% endif %}
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
    </div>

    <h3 class="centerPage">Modification du lieu</h3>
    <div class="container">
        {{ form_start(lieuForm) }}
        <div class="row">
            <div class="col-6">
                {{ form_label(lieuForm.nom) }}
                {{ form_widget(lieuForm.nom) }}
                {{ form_errors(lieuForm.nom) }}
            </div>
            <div class="col-6">
                {{ form_label(lieuForm.rue) }}
                {{ form_widget(lieuForm.rue) }}
                {{ form_errors(lieuForm.rue) }}
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                {{ form_label(lieuForm.latitude) }}
                {{ form_widget(lieuForm.latitude) }}
                {{ form_errors(lieuForm.latitude) }}
            </div>
            <div class="col-6">
                {{ form_label(lieuForm.longitude) }}
                {{ form_widget(lieuForm.longitude) }}
                {{ form_errors(lieuForm.longitude) }}
            </div>
        </div>
        {{ form_start(lieuForm) }}
        <div class="row">
            <div class="col-6">
                {{ form_label(villeForm.codePostal) }}
                {{ form_widget(villeForm.codePostal) }}
                {{ form_errors(villeForm.codePostal) }}
            </div>
            <div class="col-6">
                {{ form_label(villeForm.nom) }}
                {{ form_widget(villeForm.nom) }}
                {{ form_errors(villeForm.nom) }}
            </div>
        </div>
        <button type="button" class="btn btn-lg btn-outline-light mb-1 mt-3 ">
            <a class="text-decoration-none" href="{{ path('app_lieux') }}">Annuler</a>
        </button>
        {{ form_end(villeForm) }}
        {{ form_end(lieuForm) }}
    </div>

{% endblock %}
